{% extends 'base.html.twig' %}

{% block title %}Espace Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block navbar %}
    <ul class="brand-logo left">
        <li class="white-text">
            Accueil
        </li>
    </ul>
{% endblock %}
{% block body %}

    <div id="ajout-patient">
        {% include ('Forms/ajoutPatient.html.twig') %}
    </div>

{% endblock %}