{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="brand-logo left">
        <li class="white-text">
            Accueil
        </li>
    </ul>
{% endblock %}
{% block body %}


{% endblock %}