{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
{% endblock %}

{% block navbar %}
    <ul class="brand-logo left">
        <li class="white-text">
            Accueil
        </li>
    </ul>
{% endblock %}
{% block body %}

    <div id="ajout-patient">
        {% include ('Forms/ajoutPatient.html.twig') %}
    </div>

    {% block javascripts %}
        <script src="{{ asset('base.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}