{% extends 'base.html.twig' %}

{% block title %}Espace Gestionnaire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gestionnaire.css') }}">
{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Gestionnaire
        </li>
    </ul>
{% endblock %}

{% block body %}

    <div id="ajout-commande">
        {% include ('Forms/ajoutCommande.html.twig') %}
    </div>

    <div id="content">
        <label>Coucou</label>
    </div>

{% endblock %}