{% extends 'base.html.twig' %}

{% block navbar %}
<ul class="brand-logo left">
    <li class="navbar-brand">
        Connexion
    </li>
</ul>
{% endblock %}
{% block body %}

    {% if error %}
        <div class="row mt-5">{{ error.messageKey|trans(error.messageData, 'Security') }}</div>
    {% endif %}
    <div class="justify-content-center row">
        <div class="col-md-6 mt-5 border bg-dark">
            <form class="form-signin m-5" action="{{ path('app_login_check') }}" method="post">
                <label class="sr-only" for="username">Nom d'utilisateur :</label>
                <input class="form-control text-center" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" />

                <label class="sr-only" for="password">Mot de passe :</label>
                <input class="form-control text-center mt-2" type="password" id="password" name="_password" placeholder="Mot de passe">

                <button class="btn btn-success mt-2" type="submit">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}