#ajout-patient {
    background-color: lightgray;
    position:absolute;
    left:170px;
    right:170px;
    top: 130px;
    border: solid black 5px;
}

#ajout_patient_sexe {
    display: inline;
    height: 30px;
}

.submit {
    margin-top: 30px;
    margin-right: 30px;
}

.mytab {
    background-color: lightgray;
    position:absolute;
    left:170px;
    right:210px;
    top: 500px;
    border: solid black 5px;
}
