/.env.local
/.env
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
.idea/*
.phpunit
/phpunit.xml
/node_modules/
/public/build/
.web-server-pid

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
