{% extends 'base.html.twig' %}

{% block title %}Espace Pharmacien{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Pharmacien
        </li>
    </ul>
{% endblock %}
{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date traitement</th>
        </tr>
        </thead>
        <tbody>
        {% for traitement in traitements  %}
            <tr>
                <th scope="row">{{ traitement.id }}</th>
                <td>{{ traitement.datetraitement|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}