<form method="POST">
    <div id="search-on">
        <div class="input-field ui-widget">
            <input name="search-barre" class="autocomplete search" type="text" id="search-barre" autocomplete="off" placeholder="Rechercher un patient" />
        </div>
    </div>
</form>

<script>

    $(".autocomplete").each(function () {
        $('#search-barre').on("input change", function () {
            $.ajax({
                url: "{{ path('auto_complete') }}",
                type: 'POST',
                cache: false,
                data: {'word':$('#search-barre').val()},
                success: function (response) {

                    var response  = JSON.parse(response);
                    console.log(response);
                    var newHtml = ""
                    for(var i=0;i<response.length; i++){
                        newHtml += "<a href=patient/"+response[i].id+"><li class=lignePatient>"+response[i].prenompatient + " " + response[i].nompatient + "</li></a>"
                    }
                    console.log(newHtml);
                    $("#listpatients").html(newHtml);
                },
                error: function (err) {
                }
            });
        });
    });
</script>
