{% extends 'base.html.twig' %}

{% block title %}Espace Médecin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/medecin.css') }}">
{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Medecin
        </li>
    </ul>
{% endblock %}

{% block body %}

    <h3 class>Prendre en charge un patient</h3>

    <div>
        {% include ('Forms/recherchePatient.html.twig') %}
    </div>

    <div>
        {% include ('SearchBar/SearchBar.html.twig') %}
    </div>

{% endblock %}