{% extends 'base.html.twig' %}

{% block title %}Espace Médecin{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Medecin
        </li>
    </ul>
{% endblock %}

{% block body %}

{% endblock %}