{% extends 'base.html.twig' %}

{% block title %}Espace Médecin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/medecin.css') }}">
{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Medecin
        </li>
    </ul>
{% endblock %}

{% block body %}

    <h3>Prendre en charge un patient</h3>

    {#
    <div>
        {% include ('Forms/recherchePatient.html.twig') %}
    </div>

    <div>
        {% include ('SearchBar/SearchBar.html.twig') %}
    </div>
    #}


    <select id="listpatient">
        {% for item in patients %}
            <option value="{{ item.id }}">{{ item.nompatient }} {{ item.prenompatient }}</option>
        {% endfor %}
    </select>

    <button id="RecupPatient">Récupérer patient</button>



{% endblock %}


{% block javascripts %}
    <script>

        $( document ).ready(function() {
            console.log( "ready!" );

            $("#RecupPatient").on( "click", function() {

                let patient = $("#listpatient").val();
                window.location = "patient/" + patient;

            });

        });


    </script>
{% endblock %}
