{% extends 'base.html.twig' %}

{% block title %}Espace Médecin{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block navbar %}
    <ul class="brand-logo left">
        <li class="white-text">
            Médecin
        </li>
    </ul>
{% endblock %}

{% block body %}

{% endblock %}