{% extends 'base.html.twig' %}

{% block title %}Espace Médecin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/medecin.css') }}">
{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Medecin
        </li>
    </ul>
{% endblock %}

{% block body %}

    <div id="containerMedecin">
        <h3>Prendre en charge un patient</h3>

        <div style="position: relative">
            {% include ('SearchBar/SearchBar.html.twig') %}

            <ul id="listpatients" class="autocomplet"></ul>
        </div>



{#
        <div class="row">
            <div class="col-sm-12">
                <select id="listpatient">
                    {% for item in patients %}
                        <option value="{{ item.id }}">{{ item.nompatient }} {{ item.prenompatient }}</option>
                    {% endfor %}
                </select>
            </div>

            <hr />

            <div id="btnRecupPatient" class="col-sm-12">
                <button id="RecupPatient" class="btn btn-success">Récupérer patient</button>
            </div>
        </div>

        #}
    </div>


{% endblock %}


{% block javascripts %}
    <script>

        $( document ).ready(function() {
            console.log( "ready!" );

            $("#RecupPatient").on( "click", function() {

                let patient = $("#listpatient").val();
                window.location = "patient/" + patient;

            });

        });


    </script>
{% endblock %}
