{% extends 'base.html.twig' %}

{% block title %}Espace Infirmier{% endblock %}

{% block navbar %}
    <ul class="brand-logo left">
        <li class="white-text">
            Infirmier
        </li>
    </ul>
{% endblock %}
{% block body %}


{% endblock %}