{% extends 'base.html.twig' %}

{% block title %}Espace Infirmier{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Infirmier
        </li>
    </ul>
{% endblock %}
{% block body %}

    <ul>
    {% for traitement in traitements  %}
        <li>
            {{ traitement.id }},    {{ traitement.datetraitement|date('d-m-Y') }}

        </li>
    {% endfor %}
    </ul>

{% endblock %}