{% extends 'base.html.twig' %}

{% block title %}Espace Infirmier{% endblock %}

{% block navbar %}
    <ul>
        <li class="navbar-brand">
            Infirmier
        </li>
    </ul>
{% endblock %}
{% block body %}


{% endblock %}